.button {
  margin: 0;
  background: inherit;
  border: none;
  color: #011627;
  padding: 0;
  cursor: pointer;
}

.icon-button {
  font-size: 2em;
  height: 2em;
  width: 2em;
}

.icon-button.tree {
  cursor: url("./axe.svg"), pointer;
}

.button:disabled {
  cursor: default;
}

.button:hover:not([disabled]) {
  animation: zoom 100ms ease-in-out 1 forwards;
}

.button:active:not([disabled]) {
  animation: press 100ms ease-in-out 1 forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes press {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.05);
  }
}

.jack {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 75% 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em 1em 0.5em 0.5em;
  font-size: 1.5em;
}

.jack svg {
  width: 2em;
  height: 2em;
}

.level-number {
  color: white;
  font-size: 0.45em;
  font-variant-numeric: tabular-nums;
  position: relative;
  float: right;
  letter-spacing: -1px;
}

.stats {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 75% 0 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em 0.5em 0.5em 1em;
  font-size: 1.5em;
}

.stats svg {
  width: 2em;
  height: 2em;
}

.stats-number {
  color: white;
  font-size: 0.45em;
  font-variant-numeric: tabular-nums;
  position: relative;
  float: right;
  letter-spacing: -1px;
}

.lumber-animation {
  z-index: 1;
  position: absolute;
  width: 1em;
  height: 1em;
  animation-name: lumber-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes lumber-animation {
  0% {
    position: absolute;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    width: 1em;
    height: 1em;
  }
  20% {
    position: absolute;
    bottom: calc(50% - 10em);
    left: calc(50% - 10em);
    width: 20em;
    height: 20em;
    opacity: 1;
  }
  100% {
    position: absolute;
    left: calc(100% - 5em);
    bottom: 1em;
    width: 3em;
    height: 3em;
    opacity: 0.3;
  }
}
