.button {
  margin: 0;
  cursor: pointer;
  background: inherit;
  border: none;
  color: #011627;
  padding: 0;
  cursor: inherit;
  /* cursor: url("./axe.svg"), pointer; */
}

.icon-button {
  font-size: 2em;
  height: 2em;
  width: 2em;
}

.button:hover:not([disabled]) {
  animation: zoom 100ms ease-in-out 1 forwards;
}

.button:active:not([disabled]) {
  animation: press 100ms ease-in-out 1 forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes press {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.05);
  }
}
