#root {
  width: 28em;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.animated-tree {
  display: inline-block;
}
