#root {
  width: 24em;
  margin: auto;
}

.score {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  border: 5px solid red;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: black;
  font-variant-numeric: tabular-nums;
}

.score svg {
  width: 1.5em;
  height: 1.5em;
  padding: 0 0.5em;
}

.score span {
  position: relative;
  top: -4px;
}
