body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: calc(0.45em + 1.2vmin);
  display: grid;
  background-color: #111;
  background-image: url("https://res.cloudinary.com/vnglst/image/upload/w_0.25,f_auto/tobias-van-schneider-unsplash");
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-user-select: none; /* disable text selection for all elements */
  touch-action: manipulation; /* disables double tap zoom for all elements */
}
